.title_box h1:before {
    content: '\1F9A0';
}

.title_box {
	background: #000;
}

.user_online_box, .title_box .right_lnk, .title_box {
	color: white;
}

.title_box .icon-envelope {
	background-image: url(//static.schools.by/images/icons-white.png);
}
